<!doctype html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="../font-awesome-4.6.3/css/font-awesome.min.css">
</head>

<body>
    <header>
        <img id="newsPic" src="http://justinlarge.com/images/button_icons/news_icon.jpg">
        <h1>NEWS!</h1>

    </header>
    <section id="mainView" ng-controller="NewsController">
        <div id="newsCon">
            <ul>
                <li class="article" ng-repeat="article in news"><i ng-click="addToStarred()" class="fa fa-star" aria-hidden="false"></i> {{ article.title }} </li>
            </ul>
        </div>
    </section>


</body>

</html>