<!doctype html>
<html ng-app="newsApp">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="../font-awesome-4.6.3/css/font-awesome.min.css">
    <title>News Fetcher</title>
</head>

<body>
    <header>
        <img id="newsPic" src="https://cdn2.iconfinder.com/data/icons/budicon-document-2/16/3-document_-_article_news_newspaper-512.png">
        <h1>SWANKY NEWS READER</h1>

    </header>
    <section id="newsContainer" ng-controller="NewsController">
        <div id="sideNav">
            <button ng-click="all()" class="btn" id="allButt">ALL</button>
            <button ng-click="faves()" class="btn" id="faveButt">FAVORITES</button>
            <button ng-click="bloom()" class="btn" id="bloomButt">BLOOMBURG</button>
            <button ng-click="times()" class="btn" id="NYTButt">NEW YORK TIMES</button>
            <button ng-click="buzz()" class="btn" id="feedButt">BUZZFEED</button>
        </div>


        <section id="mainView">
            <div id="newsCon">
                <ul>
                    <articles ng-if="article.hide === false" ng-repeat="article in news" readable="article"></articles>

                </ul>
            </div>
        </section>
    </section>

</body>

</html>